body {
  margin: 0;
  font-family: monospace;
  background: #050505 url("c8f31b31a576ab06615b9f4a8bbcd125.jpg")
              center center / cover no-repeat fixed;
  color: #eaeaea;
  overflow: hidden;
}
